# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore macOS folder metadata
.DS_Store

# Ignore local Android SDK configuration
local.properties
